/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #263138;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px 24px 60px;
    position: sticky;
    top: 0;
    z-index: 9;
}

header nav a {
    color: #DDDDDD;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
    transition: 0.4s;
}

header nav a:Hover {
    color: #FFFFFF;
}

/* Seção Inicial*/
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    /* Topo, Direita, Baixo, Esquerda */
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao {
    background-color: #FF725E;
    border-radius: 8px;
    color: #DDDDDD;
    text-decoration: none;
    padding: 16px 32px;
    transition: 0.4s;
    display: flex;
    gap: 42px;
}

.botao:hover {
    color: #FFFFFF;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Seção Clínica */
#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

/* Seção Petshop e Farmácia */
#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 48px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

/* Seção Dúvidas Frequentes */
#duvidas {
    display: flex;
    align-items: start;
    gap: 64px;
    padding: 64px 80px;
}

h2.pergunta {
    margin-bottom: 30px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

/* Rodapé */
footer {
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

nav svg.socials {
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav svg.socials.linkedin {
    color: blue;
    width: 32px;
    height: auto;
}

nav svg.socials.instagram {
    width: 32px;
    height: auto;
}

nav svg.socials.facebook {
    color: blue;
    width: 32px;
    height: auto;
}

nav svg.socials.youtube {
    color: red;
    width: 32px;
    height: auto;
}

footer img, footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #263138;
    text-decoration: none;
}

.copyright {
    background-color: #263138;
    text-align: center;
    padding: 24px;
    color: #FFFFFF;
}

.copyright a {
    color: #FF9A6C;
}

/* Celular */
@media (max-width:450px) {

    html, body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    header {
        padding: 20px 12px;
    }

    header img {
        width: 70px;
        height: auto;
    }

    header nav a {
        padding: 12px;
        font-size: 8px;
    }

    section#inicio {
        padding: 24px 60px 72px 60px;
        flex-direction: column;
    }

    section#inicio img.img {
        width: 290px;
        height: auto;
    }

    .absolute {
        display: none;
    }

    div h1 {
        margin-bottom: 14px;
    }

    div a.botao {
        width: 100%;
        height: auto;
        padding: 16px;
        display: flex;
        gap: 42px;
    }

    a.botao-transparente {
        padding: 20px;
    }

    section#clinica {
        flex-direction: column;
        padding: 24px 60px 72px 60px;
    }

    section#clinica div h2 {
        margin-bottom: 14px;
    }

    section#clinica ul {
        padding: 0;
    }

    section#clinica img.img {
        width: 240px;
        height: auto;
    }

    section#farmacia {
        padding: 0;
    }

    section#farmacia h2 {
        margin-bottom: 14px;
    }

    section#farmacia p.paragrafo {
        margin: 20px;
        text-align: start;
    }

    #farmacia {
        padding: 32px 40px;
    }

    #farmacia img.img {
        width: 350px;
        height: auto;
    }

    #duvidas {
        padding: 32px 40px;
        flex-direction: column;
    }

    #duvidas img.img {
        width: 270px;
        height: auto;
    }

    .pergunta {
        text-align: center;
    }

    section#duvidas div h3 {
        text-align: start;
        padding: 16px 38px 16px 16px;
    }

    div.remover {
        display: none;
    }
}

/* Tablet */
@media (min-width:450px) and (max-width:768px) {

    nav a {
        padding: 18px;
    }

    #inicio {
        flex-direction: column;
    }

    .absolute {
        display: none;
    }

    #clinica {
        flex-direction: column;
    }

    #farmacia img.img {
        width: 50%;
        height: 50%;
    }

    #duvidas {
        flex-direction: column;
    }

    .pergunta {
        text-align: center;
    }
}